/* Overall Layout */
.app-container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 1px solid #ddd;
}

.header-top {
  display: flex;
  align-items: center;
}

.menu-icon {
  font-size: 24px;
  margin-right: 10px;
  cursor: pointer;
}

h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}

/* Menu Section */
.menu-section {
  width: 100%;
  padding: 10px 0;
  background-color: #ffffff;
  border-top: 1px solid #ddd;
}

.menu-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu-section li {
  margin: 10px 0; /* Ensure each menu item is on its own row */
}

.menu-section a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
}

.menu-section a:hover {
  color: #007bff;
  text-decoration: underline;
}

/*!* Main Content *!*/
/*.sensors-container {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  gap: 20px;*/
/*  padding: 20px;*/
/*}*/

/*.sensors-dashboard {*/
/*  display: flex;*/
/*  flex: 1;*/
/*  flex-wrap: wrap;*/
/*  gap: 20px;*/
/*}*/

/*.sensor-list-container,*/
/*.sensor-details-chart-container {*/
/*  flex: 1;*/
/*  min-width: 300px;*/
/*}*/
